<div class="container">
    <div class="text-end">
        <a href="<?php echo URL?>Usuario/registrar" class="btn btn-primary">Nuevo Registro</a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Celular</th>
            <th scope="col">Email</th>
            <th scope="col">Usuario</th>
            <th scope="col">Password</th>
            <th scope="col">Rol</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>12345678</td>
            <td>admin</td>
            <td>admin</td>
            <td>123456789</td>
            <td>admin@gmail.com</td>
            <td>admin</td>
            <td>admin</td>
            <td>Disponible</td>
          </tr>
        </tbody>
      </table>
</div>