<div class="container container p-4 center-h">
    <div class="row align-items-center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Administrar Usuarios</h5>
                  <p class="card-text">Permite realizar gestion interna de Usuarios.</p>
                  <a href="<?php echo URL?>Index/listarusuarios" class="btn btn-primary">Dirigirme</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Administrar Productos</h5>
                  <p class="card-text">Permite realizar gestion interna de Productos.</p>
                  <a href="#" class="btn btn-primary">Dirigirme</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Administrar Ventas</h5>
                  <p class="card-text">Permite realizar gestion interna de Ventas.</p>
                  <a href="#" class="btn btn-primary">Dirigirme</a>
                </div>
              </div>
        </div>
    </div>
</div>